<h2>Hello <%= @user.name %>!</h2>

<h3>Per your request we're sending you a link to reset your password.<h3>

<p>To choose a new password, just follow this link: <%= link_to @url, @url %>.</p>

<p>Have a great day!</p>