<h1><%= @application.full_name %> just applied to become a curator</h1>
<p>View the <%= link_to "full application", admin_curator_application_url(@application) %> and take action on it</p>
<p>Please note that you need to be signed in to access this page.</p>
