<% @items_by_segment.each do |segment, items| %>
<div class="segment">
    <h2><%= segment %></h2>
    <ul>
        <%= render :partial => "landing/item", collection: items, locals: { count: items.size-1 } %>
        <%# <li class="last"> %>
        <%#     <a href=""><img src="http://placehold.it/204x199/e6d7c2"></a> %>
        <%#     <h4>Brand name goes here</h4> %>
        <%#     <p>Size: XS <span class="prices">$55.00</span></p> %>
        <%#     <a class="more" href=""><span>View All</span></a> %>
        <%# </li> %>
    </ul>
</div>
<% end %>
