<div class="paypal-alert">
    <h3>You must have a PayPal account in order to sell items on ClosetGroupie.com</h3>
    <p>Enter the email address you use for your <a href="http://paypal.com" target="_blank">PayPal</a> account below so you can recieve payments from users buying from your closet.</p>
    <p>Make sure to enter the correct email address otherwise you WILL NOT GET PAID!</p>
</div>
