<div class="paypal-error">
    <h4>Sorry, but that email address was denied by PayPal</h4>
    <p>There are several reasons this might have happened:</p>
    <ul>
        <li>You haven't verified the confirmation email that PayPal sent you after signing up</li>
        <li>You mis-typed the email address, or used an incorrect email address</li>
        <li>You have a restriction on your PayPal account</li>
    </ul>
    <p>Before you can post any items for sale on ClosetGroupie.com, please contact PayPal to make sure your account can be used.</p>
</div>
