<div class="filter-flyout-arrow"></div>
<div class="filter-flyout-menu">
    <div id="filterset-categories" class="filterset">
        <h3 class="title">Silhouettes</h3>
        <ul id="item-categories">
        </ul>
    </div>
    <div id="filterset-sizes" class="filterset"></div>
</div>
