<footer>
    <div id="footer-inner">
        <ul class="links">
            <li class="first"><a href="http://closetgroupie.tumblr.com/FAQ" target="_blank">Help</a></li>
            <li><a href="http://closetgroupie.tumblr.com/post/12196885061/shop-in-closets-not-in-stores" target="_blank">About</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li class="last"><a href="/terms">Terms of Use</a></li>
        </ul>
        <p id="copyright">&copy; ClosetGroupie <%= Time.now.year %></p>
        <div id="social-icons">
            <a class="twitter" href="http://www.twitter.com/closetgroupie" target="_blank" title="Follow us on Twitter">Follow us on Twitter</a>
            <a class="facebook" href="http://www.facebook.com/ClosetGroupie" target="_blank" title="Like us on Facebook">Like us on Facebook</a>
            <a class="tumblr" href="http://closetgroupie.tumblr.com" target="_blank" title="Read Our Blog">Read Our Blog</a>
        </div>
    </div>
</footer>
