<footer>
    <div class="inner">
        <h3>Join Us</h3>
        <ul id="social">
            <li><a href="http://www.facebook.com/ClosetGroupie" id="facebook" target="_blank">Facebook</a></li>
            <li><a href="http://pinterest.com/ClosetGroupie/" id="pinterest" target="_blank">Pinterest</a></li>
            <li><a href="http://www.twitter.com/closetgroupie" id="twitter" target="_blank">Twitter</a></li>
            <li><a href="http://closetgroupie.tumblr.com" id="tumblr" target="_blank">Tumblr</a></li>
        </ul>
        <ul id="quick_links">
            <li><a href="/about">about</a></li>
            <li><a href="/become-a-curator">become a curator</a></li>
            <li><a href="http://closetgroupie.tumblr.com/FAQ" target="_blank">help</a></li>
            <li><a href="/privacy">privacy</a></li>
            <li><a href="/terms">terms</a></li>
        </ul>
    </div>
</footer>
