<h2>Closet <strong>Activity</strong></h2>
<h3 id="refresh" class="inactive">
    <a href="#" id="refresh-btn" class="btn btn-refresh">refresh activity</a>
</h3>
<ul id="activity_list"></ul>
<div id="loading" class="inactive"></div>
