<%= body_class "static about" %>
<%= render :partial => "static/about-navigation" %>
<section id="static">
    <h1>Our Story...</h1>
    <p>My story starts in New York City. The NY fashion industry was my life and I was spending every paycheck on the most beautiful dresses, shoes, and handbags I could get my hands on. When I went through a terrible breakup, I did the only thing I could think of to get over him: get every gift from him and every reminder of him out of my sight. So I built a website to sell my ex's gifts and it was a hit!  My friends loved it so much that they wanted to join the fun and sell on the site. The catch was they didn't want to sell their exes' gifts... they wanted to sell their clothes!  While I was helping a friend photograph her closet for that site, I realized how amazing it would be if everyone could shop in her gorgeous, yet overstocked, closet. ClosetGroupie was born that day and I have never been more excited…about anything! My journey of helping other women build businesses began that day and I have never looked back.</p>
    <p class="signed">Kelly</p>
    <h2>How it works:</h2>
    <p>ClosetGroupie is a community where women are building online consignment businesses using inventory from their closets.  Our Closet Curators are scouring their closets and their friends' closets for the best unworn fashion to start their businesses.  They snap pictures, upload, and ship the garments once they sell.  Shoppers can find one of a kind pieces at amazing prices to add to their personal collection. Learn more about <a href="/become-a-curator">becoming a Closet Curator</a>.</p>
</section>
