<%= body_class "static about" %>
<%= render :partial => "static/about-navigation" %>
<section id="static">
    <h1>Our Story...</h1>
    <p>Once upon a time in a far away land called New York City, I was working in the fashion industry spending every paycheck I received on dresses, shirts, shoes, and handbags. I was also going through a break-up.  Breakups are bad enough, but going through it in New York seemed worse. Maybe the cold subway is always depressing and I just never noticed!  To try to get over it, I built a website to sell all of the gifts and reminders leftover from the relationship in hopes that I would start to feel better.  It didn't work.  My friends began to call and ask me if they could sell clothes from their closets on our breakup website.  While I was helping a friend photograph her closet one day, I realized how amazing it would be if everyone could shop in her closet.  ClosetGroupie was born that day and I have never been more excited... about anything!   I started planning for it that day.</p>
    <h2>What is ClosetGroupie?</h2>
    <p>ClosetGroupie is a community where anyone can build an online consignment business by reselling fashion from closets around their neighborhood.  If you have a great closet, you've got a business.  If you have five friends that have great closets, you've got a big business!  ClosetGroupie makes it easy to start a business that is fun, flexible, and fashionable.  I hope you love the idea as much as we do.  I hope I get to shop in your closet soon!</p>
    <p class="signed">Kelly</p>
</section>
