<%= body_class "static become-a-curator" %>
<section id="static">
    <h1>Become a Curator</h1>
    <section>
        <img src="/assets/become-a-curator/how-it-works.jpg">
        <h2>How it works</h2>
        <p>A Closet Curator is part curator, part stylist, and part entrepreneur. Closet Curators scour their friends and neighbors' closets to find the best fashion that isn't being worn to resell.  You then take photos, upload, and manage the sale of these items.  You earn commission on every piece that sells.  You can build a fun, fashionable, and flexible business by doing something you love.  If you are interested in starting your own online consignment business, email us at <a href="mailto:curators@closetgroupie.com">curators@closetgroupie.com</a>.</p>
    </section>
    <section>
        <img src="/assets/become-a-curator/earning-potential.jpg">
        <h2>Earning potential</h2>
        <p>The best part about being a Closet Curator is that you get to decide how much money you make.  You can supplement your income by selling your own closet or build a business by curating closets for other people. You earn 80% of everything you sell from your own closet and 25% of everything you sell from your consigners. And it adds up quickly! We are passionate about making you financially successful.</p>
    </section>
    <section>
        <img src="/assets/become-a-curator/meet-a-curator.jpg">
        <h2>Meet a curator</h2>
        <p>Meet Megan, one of our Curators in the Denver area.  Megan is completing her masters degree and teaching part-time.  Megan gathers clothes from her friends and sells them on ClosetGroupie to supplement her student income.  She is also a super fashionable model for some of the clothes she is selling from her own closet.  She loves being a curator because it's something she can schedule around her classes. Shop in <a href="https://closetgroupie.com/closets/2289">Megan's Closet</a>!</p>
    </section>
    <section>
        <img src="/assets/become-a-curator/consignment.jpg">
        <h2>Own a Consignment Boutique?</h2>
        <p>Our platform is the easiest for consignment boutiques to manage their online sales.  We automate payments so you can focus on your business and not worry about being an ATM machine.  If you have a brick and mortar consignment boutique that you would love to take online, get in touch with us so you can take advantage of our special offer for brick and mortar boutiques.  Email us at <a href="mailto:consignment@closetgroupie.com">consignment@closetgroupie.com</a>.</p>
    </section>
</section>
