<%= body_class "static become-a-curator" %>
<section id="static">
    <header>
        <h1>Become a Curator</h1>
        <img src="/assets/become-a-curator/header.jpg">
    </header>
    <section id="what-is-a-closet-curator">
        <h2>What is a closet curator?</h2>
        <p>A Closet Curator is part curator, part stylist, and part entrepreneur. Closet Curators scour their friends and neighbors' closets to find the best fashion that isn't being worn to resell.  You then take photos, upload, and manage the sale of these items.  You earn commission on every piece that sells.  You can build a fun, fashionable, and flexible business by doing something you love. If you have any questions about what it takes to be a great curator, please email us, <a href="mailto:curators@closetgroupie.com">curators@closetgroupie.com</a></p>
    </section>
    <section id="earning-potential">
        <h2>Earning potential</h2>
        <p>The best part about being a Closet Curator is that you get to decide how much money you make. You can supplement your income by selling your own closet or build a business by curating closets for other people. You earn 80% of everything you sell from your own closet and 35% of everything you sell from your consignors. And it adds up quickly! We are passionate about making you financially successful.</p>
    </section>
    <section id="meet-a-curator">
        <h2>Meet a curator</h2>
        <p>Meet Megan, one of our Curators in the Denver area.  Megan is completing her masters degree and teaching part-time.  Megan gathers clothes from her friends and sells them on ClosetGroupie to supplement her student income.  She is also a super fashionable model for some of the clothes she is selling from her own closet.  She loves being a curator because it's something she can schedule around her classes. Shop in <a href="https://closetgroupie.com/closets/2289">Megan's Closet</a>!</p>
        <%= link_to "Apply Now", new_curator_applications_path,
            :id => "apply-now" %>
    </section>
    <aside>
        <h2 id="meet-megan">Meet Megan</h2>
    </aside>
</section>
