<%= body_class "static careers" %>
<%= render :partial => "static/about-navigation" %>
<section id="static">
    <h1>Come work with us</h1>
    <ul class="positions-available">
        <li class="career">
            <h3 class="career-position">Vice President of Marketing</h3>
            <div class="career-details">
                <p>ClosetGroupie is a community that empowers women to build online consignment businesses by reselling the clothes in closets around their neighborhoods.  We are creating jobs that are fun, fashionable, flexible, and eco-friendly for women all over the country.  We are looking for a VP of Marketing that knows how to build, train, and motivate an army of women who are building home consignment businesses. We are looking for someone who has "been there and done that" with a major direct selling company such as Stell & Dot. If this sounds like a perfect fit for you, please send an email with your resume to <a href="mailto:helpusgrow@closetgroupie.com">helpusgrow@closetgroupie.com</a>.</p>
            </div>
        </li>
        <li class="career">
            <h3 class="career-position">UI/UX Designer</h3>
            <div class="career-details">
                <p>ClosetGroupie is a community that empowers women to build online consignment businesses by reselling the clothes in closets around their neighborhoods. We are creating jobs that are fun, fashionable, flexible, and eco-friendly for women all over the country. We are looking for a UI/UX designer to help  create a beautiful and clean shopping and selling experience for our users.  Ideally this person will have a diverse portfolio that shows off his/her skills in graphic, mobile, and web design. Knowledge of HTML, CSS, and Javascript is also required. If you can make the page you are on now pretty, please email your resume and relevant links to <a href="mailto:helpusgrow@closetgroupie.com">helpusgrow@closetgroupie.com</a>.</p>
            </div>
        </li>
        <li class="career">
            <h3 class="career-position">Front-End Developer</h3>
            <div class="career-details">
                <p>ClosetGroupie is a community that empowers women to build online consignment businesses by reselling the clothes in closets around their neighborhoods. We are creating jobs that are fun, fashionable, flexible, and eco-friendly for women all over the country. We are looking for a talented front end developer to join our team. Extensive knowledge of HTML, CSS and Javascript is required. Experience with Ruby on Rails or Node.js is considered a plus. If you have these skills and a great sense of humor, please email a link to your GitHub or Stack Overflow profile and a link to a portfolio with sample work to <a href="mailto:helpusgrow@closetgroupie.com">helpusgrow@closetgroupie.com</a>.</p>
            </div>
        </li>
    </ul>
    <%= image_tag 'about/shoes-bench.jpg', id: 'shoes' %>
</section>
