<%= body_class "static careers" %>
<%= render :partial => "static/about-navigation" %>
<section id="static">
    <h1>Come work with us</h1>
    <ul class="positions-available">
        <li class="career">
            <h3 class="career-position">Vice Present of Marketing</h3>
            <div class="career-details">
                <p>ClosetGroupie is an online consignment boutique. Women sell clothes they are no longer wearing in their closets directly to other women who like their style. We are currently participating in TechStars in sunny and beautiful Boulder, CO. If you are an awesome interface designer we'd love to have you join our team. We are small in size, but large in ambition, talent, and heart. Sound like your a great fit? Let us know!</p>
            </div>
        </li>
        <li class="career">
            <h3 class="career-position">UI/UX Designer</h3>
            <div class="career-details">
                <p>ClosetGroupie is an online consignment boutique. Women sell clothes they are no longer wearing in their closets directly to other women who like their style. We are currently participating in TechStars in sunny and beautiful Boulder, CO. If you are an awesome interface designer we'd love to have you join our team. We are small in size, but large in ambition, talent, and heart. Sound like your a great fit? Let us know!</p>
            </div>
        </li>
        <li class="career">
            <h3 class="career-position">Front-End Developer</h3>
            <div class="career-details">
                <p>ClosetGroupie is an online consignment boutique. Women sell clothes they are no longer wearing in their closets directly to other women who like their style. We are currently participating in TechStars in sunny and beautiful Boulder, CO. If you are an awesome interface designer we'd love to have you join our team. We are small in size, but large in ambition, talent, and heart. Sound like your a great fit? Let us know!</p>
            </div>
        </li>
    </ul>
</section>
