<%= body_class "static team" %>
<%= render :partial => "static/about-navigation" %>
<section id="static">
    <h1>It's nice to meet you...</h1>
    <blockquote>
        “You have brains in your head. You have feet in your <em>shoes</em>. You can steer yourself any direction you choose...” <span class="attribution">&mdash; Dr. Seuss, Oh, the Places You'll Go!</span>
    </blockquote>
    <ul id="people">
        <li>
            <img src="http://placehold.it/200x200">
            <h3>Kelly, CEO</h3>
            <p>Size: </p>
            <p>Brand: </p>
            <p>Condition: </p>
            <p></p>
        </li>
        <li>
            <img src="http://placehold.it/200x200">
            <h3>Joonas, CTO</h3>
            <p>Size: </p>
            <p>Brand: </p>
            <p>Condition: </p>
            <p></p>
        </li>
        <li>
            <img src="http://placehold.it/200x200">
            <h3>Doniree, CCO</h3>
            <p>Size: </p>
            <p>Brand: </p>
            <p>Condition: </p>
            <p></p>
        </li>
        <li>
            <img src="http://placehold.it/200x200">
            <h3>Tres, Developer Extraordinaire</h3>
            <p>Size: </p>
            <p>Brand: </p>
            <p>Condition: </p>
            <p></p>
        </li>
        <li>
            <img src="http://placehold.it/200x200">
            <h3>Eugene, Most Amazing Intern Ever</h3>
            <p>Size: </p>
            <p>Brand: </p>
            <p>Condition: </p>
            <p></p>
        </li>
    </ul>
</section>
