<div style="width: 100px; float: left;">
  <%= image_tag @message.sender.avatar_url(:preview), border: 0,
        style: "padding: 1px; background: #fff; border: 1px solid #ccc;" %>
<div style="width: 400px; float: left;">
  <h3><%= link_to @message.sender.name, profile_url(@follower) %> sent you a message ClosetGroupie!</h3>
  <p><%= @message.content %></p>
  <p><%= link_to "View the message on ClosetGroupie", @message %></p>
</div>
