<% body_class "activity" %>
<% content_for :javascripts do %>
    <%= javascript_include_tag "activities" %>
    <script type="text/json" id="bootstrap">
    <%# TODO: Maybe we should use something else than to_json for this? %>
    {
        "activities": <%== render :template => "activities/bootstrap.rabl" %>,
        "user": <%== current_user.to_json(:only => [:id]) %>
    }
    </script>
    <%= javascript_tag do %>
        $(function() {
            var div, data;

            div = $("<div></div>");
            div.html($("#bootstrap").text());
            data = JSON.parse(div.text());
            ClosetGroupie.initialize(data);
        });
    <% end %>
<% end %>
