<div class="filter-flyout-arrow"></div>
<div class="filter-flyout-menu">
    <div class="filterset">
        <h3 class="title">Silhouettes</h3>
        <ul>
            <li data-filterset="dresses and rompers">Dresses and Rompers</li>
            <li data-filterset="shirts and tops">Shirts and Tops</li>
            <li data-filterset="sweaters">Sweaters</li>
            <!--
            <li data-filterset="pants" class="active">Pants</li>
            <li data-filterset="jeans">Jeans</li>
            <li data-filterset="shorts">Shorts</li>
            <li data-filterset="skirts">Skirts</li>
            -->
            <li data-filterset="bottoms">Bottoms</li>
            <li data-filterset="maternity">Maternity</li>
        </ul>
        <ul>
            <li data-filterset="shoes">Shoes</li>
            <li data-filterset="handbags">Handbags</li>
            <li data-filterset="jewelry">Jewelry</li>
            <li data-filterset="accessories">Accessories</li>
            <li data-filterset="other">Other</li>
        </ul>
    </div>
</div>
<div class="filterset-meta"></div>
<!--<ul class="silhouettes">
<li class="pants">Pants</li>
<li class="dresses">Dresses</li>
<li class="shirts">Shirts</li>
<li class="shoes">Shoes</li>
</ul>
<div class="sizes"></div>-->
